<div *ngIf="msgService.messages.length">
    <h2>Messages</h2>
    <button class="clear" (click)="msgService.clear()">clear</button>
    <div *ngFor="let message of msgService.messages"> {{message}} </div>
</div>